.hello {
    color: red;
    background: url('./logo.png');
    
  }

  body{
    background-color: #191D1E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkorange;
    padding: 40px;
    max-width: 900px;
    margin: auto;
  }

  #content{
    text-align: center;
  }

  #content > p {
    padding: 30px 20px;
    border: 1px solid darkorange;
  }